.btn:focus {
    outline: none;
    box-shadow: none;
  }



.message .success{
    font-size: 20px;
    color:green;
    animation: buttons .3s linear;
    display:none;
}
.message .danger{
    font-size: 20px;
    color: red;
    transition: .3s;
    animation: buttons .3s linear;
    display:none;
}
@keyframes buttons{
    0%{
        transform: scale(0.1);
    }
    50%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}

.item-container {
    display: flex;
}
.item-container2 {
    display: flex;
}


.iconn {
    width: 40px;
    height:40px;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.line {
    width:0px;
    height:100px;
    border-left: solid #333 1px;
    margin-left:19px;
}
.year{
    background-color: #252525;
    height:20px;
    width:69px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:12px;
    margin-top:18px;
}
.year p {
    color: white;
    font-size: 10px;
   padding:0px;
    margin: 0px;
    font-weight: 550;
    opacity: 0.8;
}
.content-box {
    margin-left:27px;
    background-color: none;
}
.content-box #one {
    font-size: 80%;
    font-weight: 550;
    padding:0px;
    margin:0px;
    text-transform: uppercase;
    text-align: start;
}
.content-box #two {
    font-size: 85%;
    font-weight: 550;
    padding:0px;
    margin:0px;
    margin-top:10px;
    text-transform: capitalize;
    text-align: start;
}
.content-box #three {
    font-size: 73%;
    font-weight: 550;
    padding:0px;
    margin:0px;
    margin-top:10px;
    text-transform: capitalize;
    text-align: start;
}

@media  screen and (max-width:768px) {
    #godfather {
        display:flex;
        justify-content: center;
     
    }
    #smallfather {
        width:357.41px;
    }
    
}

@media  screen and  (min-width:769px) and (max-width:992px) {
    .godfather2 {
        display:flex;
        justify-content: center;
     
    }
    
}

